
header {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	background-color: #1976D2;
	color: white;
	padding: 0px;
}

section > div{
	text-align: left;
	background-color: #BBDEFB;
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	color: black;
}

body{
	margin: 0;
}
header > img {
	border-radius: 0px;
}
